.show-more-height {
    height: 60px;
    overflow: hidden;
}
.text-show p{
    font-size: 17px;
}

.show-more{
    cursor: pointer;
}

.content_new{
    min-height: 100vh;
}




/********** new pages **********/
.column {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    background-color: #F5F7F7;
    border-radius: 10px;
    padding: 1.5rem;
    color: #1E2021;
    min-height: 27rem;

}

.column h2 a {
    font-weight: 400;
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 1rem;
    min-height: 100px !important;
    line-height: 1.2;
}

.column img {
    width: 6rem;
    margin-top: 0rem;
    margin-bottom: 1rem;
}

.column .default-icon {
    display: block;
    mix-blend-mode: darken;
}
.column .hover-icon {
    display: none;
}
.column:hover .default-icon {
    display: none;
}
.column:hover .hover-icon {
    display: block;
}

.column p {
    font-weight: 400;
    font-size: 1rem;
    margin: 0;
    color: #000;
    min-height: 100px !important;
}
.column:hover {
    background-color: #003f91;
    color: #ffffff;
}
.column:hover p ,.column:hover a{
    color: #fff;
}

.product-list-item {
    background: #F5F7F7;
    display: block;
    width: 100%;
    min-height: 18rem;
    text-decoration: none;
    color: black;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid transparent;
}
.product-list-item:hover{
    border: 1px solid #333;
}
.product-list-item-title {
    padding: 1rem;
    height: 5rem;
}
.product-list-item-title h5 {
    font-size: 1.15rem;
    color: #50575A;
}
.product-list-item .product-list-item-image {
    display: flex;
    width: 100%;
    min-height: 12.25rem;
    text-align: center;
    align-items: center;
    border-bottom: 1px solid #DFE7EA;
    padding: 3rem 0;
}
.product-list-item .product-list-item-image img {
    width: 150px;
    margin: auto;
    mix-blend-mode: darken;
}

.product-list-item .product-list-item-info {
    display: -webkit-flex;
    display: flex;
    /* padding-bottom: 2rem; */
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-content: flex-start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 1rem;

}

.product-list-item .product-list-item-info i{
    transform: rotate(180deg);
}

.product-list-item .product-list-item-info a {
    font-weight: 400;
    font-size: 0.8rem;
    text-decoration: none;
}

.img_main_view{
    background: #eee;
    padding: 50px;
    overflow: hidden;
    text-align: center;
}

.newClass{
    position: relative;
}

.img_main_view img{
    mix-blend-mode: darken;
    width: 80%;
    margin: auto;
}

.h-header{
    opacity: 0;
    transition: all ease-in-out .5s;
}

.product-details {
    width: 100%;
    padding: 50px;
}
.product-details .breadcrumbs-container {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}
.product-details .breadcrumbs-container .breadcrumbs {
    padding-left: 0;
    padding-right: 0;
}
.product-details .breadcrumbs-container .breadcrumbs ol {
    margin: 0;
    padding: 0;
    display: -webkit-flex;
    display: flex;
    overflow: hidden;
}
.product-details .breadcrumbs-container .breadcrumbs ol li {
    list-style: none;
    padding-right: 0.33rem;
    display: inline-block;
    white-space: nowrap;
}
.product-details .breadcrumbs-container .breadcrumbs ol li a {
    text-decoration: none;
    color: #4088E2;
}
.product-details .breadcrumbs-container .breadcrumbs ol li svg{
    margin: 0;
}
.product-details-container h1 {
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 1.75rem;
}

.product-details-container .product-features-and-links {
    display: block;
    margin-bottom: 5rem;
}
.product-details-container .product-features-and-links {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.product-details-container .product-features-and-links .product-features {
    line-height: 26px;
    font-weight: 400;
    font-size: 14px;
}
.product-details-container .product-features-and-links .product-features {
    width: calc(100% - 1rem);
    margin-bottom: auto;
    margin-right: 0;
}
.product-details-container h2 {
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.75rem;
    margin: 0 0 1.25rem 0;
}
.product-details-container .product-features-and-links .product-features ul {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0 1rem;
}
.product-details-container .product-features-and-links .product-features ul li:before {
    content: "–";
    position: absolute;
    margin-right: -1rem;
    left: 0;
}

.product-details-container .product-features-and-links .product-links {
    width: 50%;
}
.product-details-container h2 {
    font-size: 0.875rem;
    line-height: 1.75rem;
    margin: 0 0 1.25rem 0;
    font-weight: bold;
}
.clear-button, a.clear-button {
    display: inline-block;
    font-size: 1.375rem;
    padding-left: 3rem;
    padding-right: 3rem;

    min-width: 15rem;
    height: 4.875rem;
    line-height: 4.875rem;
    border-radius: 4.875rem;
    box-shadow: none;
    cursor: pointer;

    text-align: center;
    text-decoration: none;
    overflow-wrap: break-word;
    transition: all 0.2s ease-out;
    background-color: transparent;
    color: white;
    border: 1px solid white;
}
.clear-button--short, a.clear-button--short {
    height: 3.25rem;
    line-height: 3.25rem;
    font-size: 0.9375rem;
}
.clear-button--short, a.clear-button--short {
    min-width: 12.5rem;
    max-width: 15rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.product-details-container .product-features-and-links .product-links .clear-button {
    width: 100%;
    clear: both;
    display: block;
    margin: 0 0 15px 0;
}
.clear-button--black, a.clear-button--black {
    border: 1px solid black;
    color: black;
}
.clear-button--orange, a.clear-button--orange {
    border: 1px solid #EE7926;
    background-color: transparent;
    color: #EE7926;
}
.clear-button--black--darken:hover, a.clear-button--black--darken:hover {
    color: #F5F7F7 !important;
    background: black !important;
}
.clear-button--orange:hover, a.clear-button--orange:hover {
    background-color: #EE7926;
    color: white;
}
.accordion-head i{
    float: right;
    font-size: 13px;
    width: 40px;
    height: 40px;
    border: 1px solid #ddd;
    text-align: center;
    line-height: 41px;
    border-radius: 50px;
    color: #8f8e8e;
}

.accordion-head .icon-callbs i:before{

    content: "\f068";
}

.accordion-head .icon-callbs.collapsed i:before{
    content: "\f067";
}

.collabs .card{
    border: 0;
}

.collabs .accordion-head{
    padding: 0;
}
.collabs .accordion-head h3{
    font-weight: 400;
    font-size: 1.125rem;
    cursor: pointer;
    color: #000000;
    margin: 0;
    padding: 5px 0 0 0;
}
.collabs .card-header {
    padding: 10px 15px;
    margin-bottom: 0;
    background-color: #fff;
    border-top: 1px solid #7c9dff;
    border-radius: 0;
    border-bottom: 0;
}

.collabs #accordion .card:nth-last-child(1) .card-header{
    border-bottom: 1px solid #7c9dff;
}

.box-desc p{
    color: #000;
    margin: 15px 0 15px 0;
    font-size: 17px;
}
.carousel-control-next, .carousel-control-prev {
    background: #000;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    top: 40%;
}

.product-sales-bar {
    position: relative;
    bottom: 0;
    height: 5.625rem;
    width: 100%;
    background: black;
    color: white;
    -webkit-align-items: center;
    align-items: center;
}
.product-sales-bar .product-sales-cta {
    max-width: 100%;
    position: relative;
    top: 6.739%;
    height: 4.875rem;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;



}
.product-sales-bar .product-sales-cta .product-sales-contact {
    display: -webkit-flex;
    display: flex;
    height: 3.875rem;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}
.product-sales-bar .product-sales-cta .product-sales-contact {
    -webkit-align-items: center;
    align-items: center;
}
.product-sales-bar .product-sales-cta .product-sales-button {
    display: block;
    width: auto;
}
.product-sales-bar .product-sales-cta .product-sales-contact .product-sales-contact-image {
    display: block;
    overflow: hidden;
}
.product-sales-bar .product-sales-cta .product-sales-contact .product-sales-contact-image img {
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
}
.product-sales-bar .product-sales-cta .product-sales-contact .product-sales-contact-info {
    min-width: 9.75rem;
    margin-right: 1.5rem;
}
.product-sales-bar .product-sales-cta .product-sales-contact-links label {
    display: inline-block;
    width: 6rem;
    margin: 0 0 0 15px;
    font-size: 20px;
}
.product-sales-bar .product-sales-cta .product-sales-contact-links a{
    color: #fff;
    font-size: 17px;
}
.product-sales-bar .product-sales-cta .product-sales-button {
    display: block;
    width: auto;
}


@media only screen and (max-width: 1024px) {
    .product-sales-bar .product-sales-cta{
        display: block;
        height: auto;
        top: 0;
    }
    .product-sales-bar .product-sales-cta .product-sales-contact{
        margin: 20px 0;
        display: block;
        height: auto;
    }
    .product-sales-bar .product-sales-cta .product-sales-contact .product-sales-contact-image {
        width: 50%;
        margin: 0 auto 20px auto;
    }
    .product-sales-bar {
        height: auto;
    }
    .product-sales-contact-email ,
    .product-sales-contact-phone{
        text-align: center;
    }
    .product-sales-bar .product-sales-cta .product-sales-button {
        text-align: center;
        margin: 0 0 15px 0;
    }
    .product-list-item .product-list-item-image {
        padding: 0;
    }
    .product-list-item-title h5 {
        font-size: 0.85rem;
    }
    .img_main_view {
        padding: 50px 15px;
    }
    .product-details {
        padding: 15px;
    }
    .product-details-container h1 {
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        font-size: 1.5rem;
    }
    .product-details-container .product-features-and-links{
        display: block;
    }
    .product-details-container .product-features-and-links .product-links {
        width: 100%;
    }
    .product-details-container .product-features-and-links .product-links .clear-button {
        max-width: 100%;
    }
}